<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 配置引用properties文件值 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="WEB-INF/jdbc.properties" p:fileEncoding="utf-8" />

	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
		   
	    <property name="driverClassName" value="${driverClassName}" />          
	    <property name="url" value="${url}" />
	    <property name="username" value="${username}" />          
	    <property name="password" value="${password}" />
	    
	    <property name="initialSize" value="1" /> 
	    <property name="maxActive" value="500" />
	    <property name="maxIdle" value="2" />
	    <property name="minIdle" value="1" />         
	</bean>
	
	<!-- Hibernate使用的SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!-- 数据源配置 -->
		<property name="dataSource" ref="dataSource" />
		
		<!-- Hibernate配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>

		<!-- 配置注解实体类 -->
		<property name="annotatedClasses">
			<list>
				<value>com.cloud.security.model.User</value>
				<value>com.cloud.security.model.Role</value>
				<value>com.cloud.security.model.Resource</value>
				<value>com.cloud.security.model.Department</value>
				<value>com.cloud.security.model.Position</value>
				<value>com.cloud.system.model.SystemConfig</value>
				<value>com.cloud.attach.Attach</value>
				<value>com.cloud.doc.model.Directory</value>
				<value>com.cloud.doc.model.DocFile</value>
				<value>com.cloud.note.model.Note</value>
                <value>com.cloud.doc.model.DocRecord</value>
			</list>
		</property>
	</bean> 
	
	<!-- 事务管理 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!--支持dao事务注解-->
	<tx:annotation-driven transaction-manager="txManager" />
	
	<!--Spring注入Dao实现-->
	<bean id="dao" class="com.cloud.platform.CoreDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Spring注入Spring上下文 -->
	<bean id="springUtil" class="com.cloud.platform.SpringUtil" />
	
	<!-- Spring注入Servlet上下文 -->
	<bean id="docConstants" class="com.cloud.platform.DocConstants" />
	
	<!-- 配置注解扫描包 -->
	<context:component-scan base-package="com.cloud.*.web,com.cloud.*.service,com.cloud.attach,com.cloud.note.model" />
	
	<!-- 配置作业任务调度 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
	
</beans>
